import { ListGroup, ListGroupItem } from "./components/list-group";
import Badge from "./components/badge";

<ListGroup>
	<ListGroupItem>Bla</ListGroupItem>
	<ListGroupItem active>Blubb</ListGroupItem>
	<ListGroupItem disabled>Blibb</ListGroupItem>
	<ListGroupItem>Bla</ListGroupItem>
	<ListGroupItem contextual="danger">Danger</ListGroupItem>
	<ListGroupItem contextual="dark">Dark</ListGroupItem>
	<ListGroupItem href="#">Bla</ListGroupItem>
	<ListGroupItem class="d-flex justify-content-between align-items-center">
		Bla Bla
		<Badge shape="pill" type="primary">1</Badge>
	</ListGroupItem>
</ListGroup>
