import Badge from "./components/badge";

<div>
	<span>Non qui hic sed blanditiis sed voluptatum<Badge href="#">Default</Badge></span><br/>
	<span>Eos possimus aliquid id dolores ea magnam et maxime<Badge href="#" type="primary">Primary</Badge></span><br/>
	<span>Quae maiores eaque pariatur porro fugiat vel necessitatibus<Badge href="#" type="secondary">Secondary</Badge></span><br/>
	<span>Voluptates quo unde ipsum<Badge href="#" type="success">Success</Badge></span><br/>
	<span>Vero nobis debitis vitae vero vel et et eveniet<Badge href="#" type="danger">Danger</Badge></span><br/>
	<span>Nostrum recusandae blanditiis quo labore minus eligendi<Badge href="#" type="warning">Warning</Badge></span><br/>
	<span>Aliquid facilis aut et fuga consequuntur sequi soluta<Badge href="#" type="info">Info</Badge></span><br/>
	<span>Labore aut labore natus dolor aut velit eos et<Badge href="#" type="light">Light</Badge></span><br/>
	<span>Corrupti provident illo distinctio<Badge href="#" type="dark">Dark</Badge></span><br/>
</div>