import Badge from "./components/badge";

<div>
	<span>Non qui hic sed blanditiis sed voluptatum<Badge>Default</Badge></span><br/>
	<span>Eos possimus aliquid id dolores ea magnam et maxime<Badge contextual="primary">Primary</Badge></span><br/>
	<span>Quae maiores eaque pariatur porro fugiat vel necessitatibus<Badge contextual="secondary">Secondary</Badge></span><br/>
	<span>Voluptates quo unde ipsum<Badge contextual="success">Success</Badge></span><br/>
	<span>Vero nobis debitis vitae vero vel et et eveniet<Badge contextual="danger">Danger</Badge></span><br/>
	<span>Nostrum recusandae blanditiis quo labore minus eligendi<Badge contextual="warning">Warning</Badge></span><br/>
	<span>Aliquid facilis aut et fuga consequuntur sequi soluta<Badge contextual="info">Info</Badge></span><br/>
	<span>Labore aut labore natus dolor aut velit eos et<Badge contextual="light">Light</Badge></span><br/>
	<span>Corrupti provident illo distinctio<Badge contextual="dark">Dark</Badge></span><br/>
</div>