import Dropdown from "./components/dropdown";

<div>

	<Dropdown label="Action list" contextual="primary" id="dropdownMenuButton1">
		<a class="dropdown-item" href="#">Action</a>
		<a class="dropdown-item" href="#">Another action</a>
		<a class="dropdown-item" href="#">Something else here</a>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item" href="#">Separated link</a>
	</Dropdown>

	<br />

	<Dropdown label="More actions" contextual="secondary" id="dropdownMenuButton2">
		<a class="dropdown-item" href="#">Action</a>
		<a class="dropdown-item" href="#">Another action</a>
		<a class="dropdown-item" href="#">Something else here</a>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item" href="#">Separated link</a>
	</Dropdown>

	<br />

	<Dropdown label="Danger" contextual="danger" id="dropdownMenuButton3">
		<a class="dropdown-item" href="#">Dangerous Action</a>
	</Dropdown>

</div>
